.message {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    padding-bottom: 25px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    gap: 12px;
}

.imageAndText img {
    width: 48px;
    height: 48px;
    border: 50%;
}

.text {
    background-color: #0066cc;
    border-radius: 5px 5px 0 5px;
    padding: 8px 12px;
    text-align: right;
    max-width: 575px;

    position: relative;
}

.text:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 100%;
    display: block;
    width: 25px;
    height: 25px;
    background: radial-gradient(60px at top right, transparent 49%, #0066cc 0%) no-repeat right bottom;
}

.name {
    font-size: 18px;
    color: #fff;
    padding-bottom: 4px;
}

.messageText {
    font: 400 16px Montserrat;
    color: #fff;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 500px;
}

.time {
    font-size: 10px;
    text-align: right;
    padding: 5px 10px 0 0;
}
