.spanBlock {
    display: flex;
    gap: 20px;
    align-items: center;
}

.span {
    color: #0080ff;
    font: 500 16px Montserrat;
}

.input {
    font: 500 16px Montserrat;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    max-width: 276px;
    width: 100%;
    height: 36px;
}

.pen {
}
