.sendForm {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.textarea {
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    background: #f5f7fb;
    overflow: hidden;
    resize: none;
    border-radius: 20px;
    border: none;
    max-width: 976px;
    width: 100%;
    padding: 12px 25px;
    min-height: 40px;
    font: 400 14px 'Montserrat';
    opacity: 0.9;
}

.button {
    font: 600 16px 'Montserrat';
    color: #fff;
    background-color: #06c;
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.button:hover {
    opacity: 0.9;
}
.button:active {
    transform: translateY(2px);
}
